[submodule "Coffee/vendor/spdlog"]
	path = Coffee/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Coffee/vendor/GLFW"]
	path = Coffee/vendor/GLFW
	url = https://github.com/TheCherno/glfw.git
[submodule "Coffee/vendor/imgui"]
	path = Coffee/vendor/imgui
	url = https://github.com/TheCherno/imgui
[submodule "Coffee/vendor/glm"]
	path = Coffee/vendor/glm
	url = https://github.com/g-truc/glm
