[submodule "Coffee/vendor/spdlog"]
	path = Coffee/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Coffee/vendor/GLFW"]
	path = Coffee/vendor/GLFW
	url = https://github.com/TheCherno/glfw.git
